@{
    var tmdbId = ViewBag.TmdbId ?? 0;
}

<h2>Title Details (TMDb id: @tmdbId)</h2>
<div class="details">
    <p>Synopsis: (demo)</p>
    <p>Trailer: <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe></p>
</div>
